{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block titulo %} Cadastro | {% endblock %}

{% block conteudo %}

<div class="row justify-content-center mt-5">
    <div class="col-lg-6">
        <h4>Cadastro</h4>
             <p>Preencha os campos abaixo para criar sua conta:</p>
        <form method="POST" action="">
            {% csrf_token %}
            {{ userform|crispy }}
            {{ perfilform|crispy }}
            <button type="submit" class="btn btn-primary btn-block btn-lg">Enviar</button>
        </form>
        <p class="mt-3">Já tem conta? <a href="{% url 'perfil:criar' %}">Faça login aqui</a></p>
    </div>
</div>

{% endblock %}

